<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" id="box-content" class="stats-cards">
    <mat-card class="mat-elevation-z8" fxFlex="100" [class.explore-maxWidth]="!hidesetting">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
                <img style="margin-right:10px;" src="assets/icons/page/explore/explore.svg">
                <mat-card-title style="display:inline-block; font-size: 20px;">
                    Explore
                </mat-card-title>
            </div>
            <button class="hide_border" mat-button (click)="close_setting()" *ngIf="hidesetting">
                <mat-icon>settings</mat-icon>
            </button>
        </div>

        <mat-card-content class="divider">
            <mat-divider></mat-divider>
        </mat-card-content>

        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <mat-card *ngIf="check_graphA" class="mat-elevation-z8">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                    <mat-card-title style="display:inline-block; font-size: 17px; padding-left: 10px;">
                        Graph A
                    </mat-card-title>

                    <mat-form-field appearance="fill" style="width: 250px;">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [formGroup]="range_graphA" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date" #dateRangeStart>
                            <input matEndDate formControlName="end" placeholder="End date" #dateRangeEnd>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker>
                            <mat-date-range-picker-actions>
                                <button mat-button matDateRangePickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDateRangePickerApply
                                    (click)="dateRangeChangeGraphA(dateRangeStart, dateRangeEnd)">Apply</button>
                            </mat-date-range-picker-actions>
                        </mat-date-range-picker>

                        <mat-error *ngIf="range_graphA.controls.start.hasError('matStartDateInvalid')">Invalid start
                            date
                        </mat-error>
                        <mat-error *ngIf="range_graphA.controls.end.hasError('matEndDateInvalid')">Invalid end date
                        </mat-error>
                    </mat-form-field>

                </div>
                <mat-card-content>
                    <div echarts [options]="chartOptions" class="chartHeight"></div>
                </mat-card-content>
            </mat-card>

        </div>
    </mat-card>

    <mat-card class="mat-elevation-z8" fxFlex="30" [class.hide-element]="hidesetting">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
            <mat-card-title style="display:inline-block; font-size: 17px;">
                Setting
            </mat-card-title>
            <button class="hide_border" mat-button (click)="close_setting()">
                <mat-icon>visibility_off</mat-icon>
            </button>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <button mat-button [class.active]="activebutton === 0" (click)="setIndex(0)">GraphA</button>
            <button mat-button [disabled] >GraphB</button>
            <button mat-button [disabled] >GraphC</button>
            <button mat-button [disabled] >GraphD</button>
        </div>

        <mat-card-content class="divider">
            <mat-divider></mat-divider>
        </mat-card-content>
        <app-explore-graph-a [class.hide-element]="!check_SelectgraphA"></app-explore-graph-a>
        <!-- <app-explore-graph-b [class.hide-element]="!check_SelectgraphB"></app-explore-graph-b>
        <app-explore-graph-c [class.hide-element]="!check_SelectgraphC"></app-explore-graph-c>
        <app-explore-graph-d [class.hide-element]="!check_SelectgraphD"></app-explore-graph-d> -->
    </mat-card>
</div>