.white-color{
    color: white;
}

.select-branch {
    color: #fff;
    background:  rgb(91, 120, 250);
    border: 0;
    border-bottom: 1px solid;
    scrollbar-arrow-color:  rgb(91, 120, 250);
    width: 60%;
}

