<div id="box-content">
    <mat-card class="mat-elevation-z8">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-card-title style="display:inline-block; font-size: 17px;">
                All Power Meter Monitering
            </mat-card-title>
    </div>

        <div>
            <table mat-table [dataSource]="dataSource" matSort class="hearder">

                <!-- meter_name Column -->
                <ng-container matColumnDef="meter_name" class="make-blue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Meter ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.meter_name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                </ng-container>

                <!-- DATETIME Column -->
                <ng-container matColumnDef="DATETIME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATETIME </th>
                    <td mat-cell *matCellDef="let element"> {{element.DATETIME}} </td>
                </ng-container>

                <!-- KWH Column -->
                <ng-container matColumnDef="Active_Energy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active_Energy </th>
                    <td mat-cell *matCellDef="let element"> {{element.KWH | number: '1.2-2'}} </td>
                </ng-container>


                <!-- TAP Column -->
                <ng-container matColumnDef="Active_Power">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active_Power </th>
                    <td mat-cell *matCellDef="let element"> {{element.AP | number : '1.2-2'}} </td>
                </ng-container>

                <!-- PF Column -->
                <ng-container matColumnDef="Power_Factor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Power_Factor </th>
                    <td mat-cell *matCellDef="let element"> {{element.PF | number : '1.2-2'}} </td>
                </ng-container>

                <!-- FREQ Column -->
                <ng-container matColumnDef="Frequency">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Frequency </th>
                    <td mat-cell *matCellDef="let element"> {{element.FREQ | number : '1.2-2'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row [ngClass]="{'make-blue': row.meter_name == 'meter_name'}"
                    *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card>




</div>